{% extends 'gym/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-5">Register</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group py-4">
            <input class="btn btn-outline-primary" type="submit" value="Sign Up">
        </div>
    </form>

    <div class="border-top pt-2">
        <a href="{% url 'user-login' %}">Already a user? Login here</a>
    </div>
</div>

{% endblock content %}