html {
    height: 100%;
}

body {
    background: url('/media/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: black;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-black {
    background: black;
}

.icon {
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.text-black {
    color: black !important;
}

.border-black {
    border: 2px solid black !important;
}

/* device queries */

/* bigger container on desktop screens */
@media (min-width: 1300px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 1000px) {
    .top-desktop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }

    .header-container {
        padding-top: 100px;
    }
}