{% extends 'gym/base.html' %}

{% block content %}
{% for equipment in equipment %}
<section class="py-4">
    <div class="container px-3 mt-4 px-lg-5">
        <div class="row gx-4 gx-lg-4 row-cols-xl-4 justify-content-center">
            <div class="col mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="/static/images/2151114229.jpg" alt="Treadmill">
                    <div class="card-body p-3">
                        <div class="text-center">
                            <h5 class="card-title">{{ equipment.name }}</h5>
                            <h5 class="card-subtitle mb-2 text-muted">£{{ equipment.price }}</h5>
                        </div>
                    </div>
                    <div class="card-footer p-3 pt-0">
                        <div class="text-center">
                            <a href="{% url 'gym-details' equipment.pk %}" class="mt-auto btn btn-success">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}

{% endblock content %}