{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  {% block meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% endblock %}

  {% block add_meta %}
  {% endblock %}

  {% block css %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  {% endblock %}

  {% block add_css %}
  {% endblock %}

  {% block js %}
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
    crossorigin="anonymous"></script>
  {% endblock %}

  {% block add_js %}
  {% endblock %}

  <title>Flow Fitness {% block add_title %}{% endblock %}</title>
</head>

<body>
  <header class="container-fluid fluid-top">
    <div class="row">
      <div class="col-8 col-lg-4 my-auto text-center py-lg-0 py-1">
        <a href="{% url 'home' %}" class="nav-link main-logo-link">
          <h1 class="logo-font my-0">Flow Fitness</h1>
        </a>
      </div>
      <div class="col-8 col-lg-4 my-auto text-center py-lg-0 py-1">
        <form method="GET" action="">
          <div class="w-100 input-group">
            <input type="text" class="form-control" name="s" placeholder="Search">
            <div class="input-group-append">
              <button class="form-control btn btn-black rounded-0" type="submit">
                <p class="logo">
                  <i class="fas fa-search"></i>
                </p>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-8 col-lg-4 my-auto text-center py-lg-0 py-1">
        <ul class="list-inline text-center my-0">
          <li class="list-inline-item dropdown">
            <a class="nav-link" href="#" id="options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="text-center">
                <div><i class="fas fa-user fa-lg"></i></div>
                <p class="my-0">My Profile</p>
              </div>
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="options">
              {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                  <a href="" class="dropdown-item">Item Management</a>
                  {% endif %}
                  <a href="" class="dropdown-item">My Profile</a>
                  <a href="{% url 'account_logout' %}" class="dropdown-item">Log Out</a>
              {% else %}
                  <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
                  <a href="{% url 'account_login' %}" class="dropdown-item">Log In</a>
              {% endif %}
            </div>
          </li>
          <li class="list-inline-item">
            <a class="{% if total %} text-info font-weight-bold {% else %} text-red {% endif %} nav-link" href="">
              <div class="text-center">
                <div><i class="fas fa shopping-bag"></i></div>
                <p class="my-0">
                  {% if total %}
                      ${{ total|floatformat:2 }}
                  {% else %}
                      $0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </header>

  {% if messages %}
  <div class="django_message"></div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block postjs %}
  {% endblock %}

</body>

</html>